Samples/sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="preview">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="formats" minOccurs="1" maxOccurs="1" />
        <xs:element name="limits" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
